* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f4f6f9;
}

.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar ul li:hover,
.sidebar .active {
  background: #334155;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card p {
  font-size: 24px;
  margin-top: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}
.card input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.save-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Biosecurity Section */
.biosecurity {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 20px;
  gap: 15px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* Table */
.table-section {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Responsive */
@media(max-width: 768px) {
  .sidebar {
    display: none;
  }

  .topbar {
    flex-direction: column;
    gap: 10px;
  }
}
/* .chart-section {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
} */