body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo h2 {
    color: #333;
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu li a:hover {
    color: green;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left {
    width: 40%;
    text-align: center;
}

.left img {
    width: 250px;
}

.right {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.right h2 {
    margin-bottom: 10px;
}

.right p {
    color: gray;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #28da3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }
}
